@import "component/categories.scss";
@import "component/insta.scss";

.sidebar {
	display: grid;
	grid-gap: 60px;
	grid-template-areas: "categoties" "gallery";

	flex-basis: 18rem;
	padding: 0 5%;
	text-align: center;
	
	&__header {
		height: 4.25rem;
		color: $white;
		background-color: $text-link;
		border-radius: 5px;
		text-align: center; 
		line-height: 4rem;
		margin-bottom: 40px;	
	}	
}