.l-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #202122;
	background: linear-gradient(-90deg, rgba(32, 33, 34, 0.8),
	            rgba(32, 33, 34, 0.8)), url(/src/style/image/footer-bg.png) top no-repeat;
	color: $font-color;
	height: 37.25rem;
	width: 100vw;
}
		.about {
			grid-area: about;
		}
		.footer__nav {
			grid-area: nav;
		}
		.middle {
			grid-area: middle;
		}
		.newsletter-signup {
			grid-area: news;
		}

.footer {
	&__wrapper {

		width: $full-size;	
		display: grid;
		grid-template-columns: 30% 40% 30%;		
		grid-template-areas: "about middle nav"
												 "about middle news";
		margin: 60px;	
		
		@include for-tablet {
			width: fit-content;
			grid-gap: 30px;
			grid-template-columns: 50% 40%;
			grid-template-areas: "middle about"". news""nav nav";
			margin: 10px;
		}	

		@include for-phone {
			width: fit-content;
			grid-gap: 10px;
			grid-template-columns: 40% 40%;
			grid-template-areas: "middle about"". news""nav nav";
			margin: 10px;
		}
	}

	&__nav {
		flex-basis: 18.25rem;
		@include for-tablet {
			display: flex;
		}
		@include for-phone {
			display: flex;
			flex-basis: 50%;
		}
	}

	&__title {
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		color: $white;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
	}
}


.about {
	flex-basis: 23.5rem;
}


.copyright {
	height: 4.375rem;
	width: 100vw;
	background-color: #141516;
	text-align: left;

	&__text {
		width: $full-size;
		line-height: 0;
		padding-top: 1.5rem;
		margin: 0 auto;
		
		&_stress {
			color: $white;	
		}
	}

	&__link {
		color: $text-link;
		text-decoration: none;	
	}
}

.follow {

	&__list {
		color: $white;
		margin: 0;
	}
		
	&__item {
		width: 34px;
		height: 34px;
		display: inline-block;
		background-color: $black;
		text-align: center;
		border-radius: 5px;
		margin-left: 10px;
	}
		
	&__link {
		line-height: 2rem;
		padding: 5px;
	}
}

.middle {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-basis: 28rem;
	height: 25rem;
	margin-left: 40px;

	&__title {
		padding: 20px 0 40px;
	}

	&__item {
		padding: 0 20px;
	}

	@include for-tablet {
		flex-direction: row;
		flex-wrap: wrap;
	}

	@include for-phone {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.features, .wod, .about-us {
	&__list {
		list-style-type: none;
	}

	&__link {
		@include links-reset();
		color: $font-color;		
	}
}

.fast-link {

	&__item {
		@include list-reset();
		height: 2rem;
		background-color: #2c2d2e;
		border-radius: 5px;
		line-height: 2rem;
		margin: 5px;
	}

	&__link {
		@include links-reset();
		font-size: 12px;
		font-weight: bold;
		padding: 0 15px;
		margin: auto 0;
		color: $white;
		text-transform: uppercase;
	}
}

.newsletter-signup {
	margin-top: 70px;

	&__text {
		margin: 25px 0 20px;
	}

	&__email-field {
		border: none;
		border-radius: 5px;
		width: 186px;
		padding: 10px 20px;		
	}

	@include for-tablet {
		margin: 0;
		width: 65%;
	}
	@include for-phone {
		margin: 0;
	}
}