@import "component/menu.scss";

.l-header {
	position: relative;
	display: block;
	color: $font-color;
	background: url(/src/style/image/logo-bg.jpg) bottom no-repeat;
	background-size: cover;
	height: 13.5rem;
	width: 100vw;
}

.phone-number {
	@include links-reset();
	color: $font-color;
	width: 10rem;
	text-align: center;	
}

.header {
	&__logo {
		position: relative;
		height: 11.25rem;
		width: $full-size;
		margin: 0 auto;
		text-align: center;		
	}
}

.logo {
  padding: 20px 0;
}

.sup-element {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	right: 0.25rem;
	top: 40%;
}
	
.social {
	-webkit-padding-start: 10px;

	&__item {
		@include list-reset();
		margin-left: 20px;		
	}

	&__link {
		color: $white;
	}
}
	
.search {

	&__text-field {
		padding-left: 40px;
		width: 0;
		background-color: transparent;
		border: none;
		border-right: 1px solid $font-color;
		color: $white;
		outline: none;
		transition: width 1s linear;
		
		&:focus {
			width: 200px;
		}
	}

	&__button {
		border: none;
		background-color: transparent;
		margin: -1.7rem;
	}	
}