.info {
	display: flex;
	justify-content: center;
	background-color: #000;
	height: 40px;
	width: 100vw;
	
	&_stress {
		color: $white;
	}

	&__wrapper {
		flex-basis: $full-size;
		display: flex;
		justify-content: space-between;
	}

	&__item {
		color: $font-color;
		flex-basis: 50%;
		display: inline-block;
		align-self: center;

		&_address {
			text-align: left;
		}
		&_phone {
			text-align: right;
		}		
	}

	&__open, .phone-number {
		display: inline-block;
	}	
}