.breadcrumbs {
	margin-top: 40px;
	height: 35px;
	text-align: right;
	text-transform: uppercase;

	&__item {
		@include list-reset();
		color: $white;
		padding: 5px;
	}	

	&__link {
				color: $white;

		&:after {
						content: "#{'\25B6'}";
			margin-left: 10px;
			width: 5px;
			height: 5px;
			display: inline-block;
		}
	}	
}
