.categories {
	text-align: left;

	&__list {
		@include list-reset();
	}

	&__item {
		font-size: 18px;
		color: $white;
		border-bottom: 1px solid $font-color;
		
		&:last-of-type {
			border-bottom: none;
		}
	}

	&__link{
		@include links-reset();
		color: $text-link;
	}

	&__text {

		&:before {
			color: $font-color;
			content: "#{'\25B6'}";
			margin-right: 20px;
			font-size: 10px;
			display: inline-block;
		}
	}
}