.locations {

	&__header {
		color: $white;
		font-size: 40px;
		font-weight: bold;
	}

	&__title {
		color: $white;
		margin: 0 0 25px 0;
	}

	&__item {
		height: 15.5rem;
		width: 43.75rem;
		display: flex;
		margin: 75px 0 80px;
		color: $font-color;		
	}

	&__description {
		flex-basis: 21.25rem;
		margin-left: 20px;
		position: relative;		
	}

	&__map-link {
		width: 25px;
		float: left;	
	}

	&__address {
		margin-top: 2rem;
	}

	&__phone {
		@include links-reset();
		color: $text-link	;
	}

		&__button {
		position: absolute;
		bottom: 0;
		width: 5.5rem;
		height: 2rem;
		color: $white;
		border-radius: 5px;		
	}

	&__stress {
		color: $white;
	}
}
	