.nav {
	background-color: $menu-bg;
	border-radius: 5px;
	text-transform: uppercase;
	position: relative;
	bottom: 2.2rem;
	width: $full-size;
	margin: 0 auto;
}


.menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 4.375rem;
	padding: 0;
	margin: 0;
		
	&__item {
		@include list-reset();
		height: 100%;
		text-align: center;
	}
		
	&__link {
		@include links-reset();
		display: inline-flex;
		color: $white;
		height: 100%;
		justify-content: space-around;
		align-items: center;
		border-radius: inherit;
		padding: 0 40px;

		&_first {
			border-radius: 5px 0 0 5px;
		}

		&_last {
			border-radius: 0 5px 5px 0;
		}

		&:hover, &:active {
			background-color: $active-btn;	
		}
	}		
}