.map {
	height: 500px;
	width: 100%;
	position: relative;
	text-align: center;

	&__wrapper {
		position: absolute;
		bottom: 0;
		left: 4.75rem;
		width: 60%;
		padding: 70px 0;	
	}	
}


.form {
	display: inline-flex;
	position: relative;
	background-color: $black;
	color: $white;
	height: 358px;
	width: 586px;
	padding: 50px 65px;
	margin: 0;
	
	&__header {
		text-transform: uppercase;
		padding-right: 40px;
		margin: 0;
	  -webkit-margin-before: 0;
    -webkit-margin-after: 0;	
	}

	&_right {
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
		flex-basis: 60%;
		align-items: center;
		text-align: right;
	}
}
	
.message__text {
	border: none;
	border-radius: 5px;
	width: 312px;
	height: 42px;
	margin: 5px;
	padding: 20px 25px;
	font-family: Play;
	font-size: 18px;

	&_text-field{
		height: 104px;
	}
}
