* {
	box-sizing: border-box;
}

body {
	font-size: $basic-font-size;
	background-color: $backg-color;
}

button {
	border: none;
	outline: none;
	background-color: $active-btn;
	cursor: pointer;
}

ul {
	-webkit-padding-start: 0;
}

input[type='submit'] {
	background-color: $active-btn;
	border: none;
	border-radius: 5px;
	height: 40px;
	padding: 10px 20px;
	color: $white;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

dt, dd {
	display: inline-block;
	-webkit-margin-start: 20px;
}

input {
  font-family: Play;
  font-size: 18px;
  outline: none;
}

img {
	padding: 0;
 	margin: 0;
}

.fa {
	font-size: 1rem;
	color: $white;	
}

.vertical {
	display: inline;
	height: 2rem;
	width: 2px;
	background-color: #5c5c5c;
	border: none;
	padding: 0;	
}