@mixin list-reset() {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

@mixin links-reset() {
	text-decoration: none;
}

@mixin for-phone {
  @media (min-width: 599px) and (max-width: 899px) { @content; }
}

@mixin for-tablet {
  @media (min-width: 900px) and (max-width: 1200px) { @content; }
}
