@import "mixins";

.info {
	grid-area: info;
}

.l-header {
	grid-area: head;
}

.breadcrumbs {
	grid-area: breadcrumbs;
}

.l-main {
	grid-area: main;
}

.sidebar {
	grid-area: sidebar;
}

.map {
	grid-area: map;
}

.l-footer {
	grid-area: foot;
}

.l-grid {
	display: grid;
	grid-template-columns: auto 49rem 2rem 22rem  auto;
	grid-template-areas: 
								"info info info info info"
								"head head head head head"
								". main . breadcrumbs ."
								". main . sidebar ."
								"map map map map map"
								"foot foot foot foot foot";
	max-width: 100vw;
	margin: 0 auto;
}

@include for-tablet {
	.l-grid {
		grid-template-columns: auto 20%;
		grid-template-areas: 
		"breadcrumbs ."
		"head head"
		"main main"
		"sidebar sidebar"
		"info info"
		"map map"
		"foot foot";

		padding: 10px 30px;
	}

	.sidebar {
		width: 90vw;
		grid-template-columns: 40% 40%;
		grid-template-areas: "categoties gallery";
	}

	.breadcrumbs {
		margin: 0 25px 0;
    text-align: left;
	}
	
	.l-header, .l-footer {
		height: fit-content;
    width: fit-content;
	}

	.l-main {
		width: fit-content;
	}

 .header__logo {
	  width: 90vw;
		text-align: right;
		height: fit-content;
		padding-right: 25px; 
	}

	.sup-element {
		top: 20% !important;
		right: 30% !important;
	}

	.nav {
		display: none;
	}

	.info__wrapper {
		flex-direction: column;
	}
	
	.info {
		width: 90vw;

	&__item {
		width: 50%;

		&_phone {
			text-align: left;
			}
		}	
	}

	.map {
		width: 90vw;
	}

	.locations {
		&__header {
			padding-left: 20px;
		}

		&__item {
		margin: 10px;
		}

		&__button {
	    position: static;
	    margin-top: 20px;
		}
	}

	.copyright {
		width: 90vw;

		&__text {
			width: 90vw;
			padding-left: 20px;
		}
	}
}

@include for-phone {
	.map, .nav, .breadcrumbs {
		display: none;
	}

	.l-grid {
		grid-template-columns: auto 20%;
		grid-template-areas: 
		"breadcrumbs ."
		"head head"
		"main main"
		"sidebar sidebar"
		"info info"
		"foot foot";

		padding: 20px;
	}
	
	.l-header, .l-footer {
		height: fit-content;
    width: fit-content;
	}

	.l-footer {
		align-items: unset;
	}

	.l-main {
		width: fit-content;
	}
	.header__logo {
	  width: 90vw;
		text-align: left;
		height: fit-content;
		padding-right: 25px; 
	}

	.locations{
		&__header{
		text-align: center;
		-webkit-margin-before: 0.13em;
    -webkit-margin-after: 0.13em;
		}

		&__item {
			margin: 10px;
			padding: 0;
		}

		&__button {
			position: relative;
			margin-top: 20px;
		}
	}

	.info {
		width: 90vw;

		&__wrapper {
		}

		&__item {
			&_phone {
				text-align: left;
				margin-left: 30px;
			}
		}
	}
	.phone-number {
		display: block !important;
	}

	.copyright {
		width: 90vw;

		&__text {
			width: 90vw;
			padding-left: 20px;
		}
	}

	.sidebar {
		width: 90vw;
		grid-template-areas: "categoties gallery";
	}

}
