$font-color: #7e7f80;
$basic-font-size: 16px;


$menu-bg: #4a4a4a;
$backg-color: #202122;

$text-link: #70a903;
$active-btn: #70a903;

$black: #000;
$white: #fff;


$full-size: 73.75rem;
$medium-size: 46.25rem;
$small-size: 28.5rem;
